openapi: 3.0.3
info:
  title: Basiq Accounts Transactions API
  description: The Basiq API is an open banking and financial data platform providing unified access to Australian and New Zealand bank account data. It enables financial applications to retrieve account balances, transactions, income verification, and expense categorization via consumer-consented bank connections using CDR (Consumer Data Right) and third-party open banking standards.
  version: 3.0.0
  contact:
    name: Basiq Support
    url: https://basiq.io/contact
  termsOfService: https://basiq.io/legal/terms-of-use/
servers:
- url: https://au-api.basiq.io
  description: Basiq API (Australia)
security:
- BearerAuth: []
tags:
- name: Transactions
paths:
  /users/{userId}/transactions:
    get:
      operationId: listTransactions
      summary: List Transactions
      description: List all transactions for a user across all accounts with optional filtering.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/UserId'
      - name: filter
        in: query
        description: Filter transactions by date range, account, or category
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 500
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{userId}/transactions/{transactionId}:
    get:
      operationId: getTransaction
      summary: Get Transaction
      description: Retrieve a specific transaction by ID.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/UserId'
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transaction record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    TransactionListResponse:
      type: object
      properties:
        type:
          type: string
          default: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        size:
          type: integer
        totalCount:
          type: integer
    ErrorResponse:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        code:
          type: string
        detail:
          type: string
        source:
          type: object
    Transaction:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - posted
          - pending
        description:
          type: string
          description: Raw transaction description from bank
        amount:
          type: number
          format: double
        balance:
          type: number
          format: double
        direction:
          type: string
          enum:
          - credit
          - debit
        class:
          type: string
          description: Basiq transaction class (e.g., payment, transfer)
        subClass:
          type: object
          properties:
            title:
              type: string
            code:
              type: string
        transactionDate:
          type: string
          format: date
        postDate:
          type: string
          format: date
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: Basiq user ID
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
